@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Creepster&display=swap");
@import "tailwindcss";

@theme inline {
  --font-bebas: "Bebas Neue", sans-serif;
  --font-creepster: "Creepster", system-ui;
  --color-primary: #ca3f49;
  --color-secondary: #32418c;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
